DATABASE_URL=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=
AUTH_SECRET=
ADMIN_EMAIL=
OAUTH_JWT_PRIVATE_KEY=
OAUTH_JWT_KEY_ID=
NEXTAUTH_URL=
